/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles

   |- Main Header
     | Logo
     | Navbar  


============================================================================= */
html, body {
    font-family: "Montserrat", "Helvetica", "Open Sans", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #eee;
}


/*------------------------------------
 General Styles and major components 
 -------------------------------------*/
 .tr-up {
    text-transform: uppercase;
 }

 .bg-stretch {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
 }

.bg-image {
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}


 .section {
    position: relative;
 }

 .no-select {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
 }


/* Text color */
.text-light {
    color: #fff;
}

.text-dark {
    color: #111;
}




/*
* Backgrounds
*/

.bgRed {
    background-color: #d51919;
    color: #fff;
}



/*
* Buttons 
*/

.btn.btn-default {
    color: #fff;
    background-color: #ff6829;
    border-radius: 50px;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    font-weight: normal;
}

.btn.btn-default:hover {
    color: #ff6829;
    background-color: #fff;
}

/*
* Global Form Elments Styles
*/

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
    display: block;
    background-color: transparent;

    width: 100%;
    max-width: 360px;
    
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 16px;
    padding: 0.25em 0em;

    transition: 0.1s all ease-in-out;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus {
    border-bottom: 1px solid #7b7b7b;
}

select {
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0MDcuNDM3IDQwNy40MzciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQwNy40MzcgNDA3LjQzNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCI+Cjxwb2x5Z29uIHBvaW50cz0iMzg2LjI1OCw5MS41NjcgMjAzLjcxOCwyNzMuNTEyIDIxLjE3OSw5MS41NjcgMCwxMTIuODE1IDIwMy43MTgsMzE1Ljg3IDQwNy40MzcsMTEyLjgxNSAiIGZpbGw9IiMwMDAwMDAiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
    background-position: right 0.6em center;
    background-size: 0.8em 0.8em;
    background-repeat: no-repeat;
}



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
}



/*------------------------------------
Main Header and Navbar
-------------------------------------*/

.main-header {
    background-color: #000;
    padding-top: 0;

    top: 0;
    position: sticky;
    z-index: 998;

    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}



/* Logo */
.main-header .logo {
    margin: 0 auto;

    width: 65px;
    padding: 10px 10px;
    margin-top: 0em;
    margin-bottom: 0em;

    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;

    /* no select */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.main-header .logo img {
    max-width: 100%;
    height: auto;
}

.main-header .logo img.sm-logo {
    display: block;
}


/* Navigation Menu */
.main-header .navigation-cols {
    display: none;
}

.main-header .navigation {
    width: 100%;
    align-self: flex-end;
}

.main-header .navigation .nav {
    display: flex;
    font-size: 14px;
}

.main-header .navigation .nav .nav-item {
    align-self: flex-end;
}

.main-header .navigation .nav .nav-item.sign-in {}
.main-header .navigation .nav .nav-item.sign-in img {
    max-height: 16px;
    vertical-align: middle;
}
.main-header .navigation .nav .nav-item.sign-in span {
    vertical-align: middle;
}

.main-header .navigation > ul > li > .nav-link {
    font-family: "Sintony", "Helvetica", Arial, sans-serif;
    color: #fff;
    line-height: 18px;

    padding-top: 15px;
    padding-bottom: 15px; 

    border-bottom: 4px solid transparent;
    border-radius: 0;

    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.main-header .navigation .nav-link:hover,
.main-header .navigation .nav-link.active,
.main-header .navigation .nav-item.active .nav-link  {
    border-bottom-color: #d51919;
}

.main-header .navigation .nav-item.active .nav-link {
    /* font-weight: bold; */
}

.main-header .navigation .sign-in .nav-link:hover,
.main-header .navigation .sign-in .nav-link.active {
    border-bottom-color: transparent;
}



/* Dropdown menu - main header */
.main-header .navigation .dropdown-menu.boxed-dropdown {
    background: #d51919;
    border-radius: 0;
    padding: 30px;
    margin-top: -2px;


    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: none;
    overflow: hidden;
    opacity: 0;

}

.main-header .navigation .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    max-height: 600px;
    max-width: initial;
    opacity: 1;
}

.main-header .navigation .dropdown-menu.boxed-dropdown .nav .nav-item {
    align-self: flex-start;
}
.main-header .navigation .dropdown-menu.boxed-dropdown .nav .nav-item .nav-link {
    font-size: 14px;
    font-family: "Sintony", "Helvetica", Arial, sans-serif;
    color: #fff;
    text-align: left;
}

.main-header .navigation .dropdown-toggle::after {
    display: none;
}
.main-header .navigation .dropdown-menu.boxed-dropdown .nav .nav-item .nav-link:hover {
    color: #fff;
}


.dropdown-menu .changing-image {
    align-self: center;
}



/* Mobile Navigation */
.mob-nav-icon {
    display: block;
    margin: 15px 15px;
}


#mobileMenuDropdown {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom:0;
    top: 62px;

    width: 100%;
    background-color: #d51919;
    padding: 30px 30px;
    overflow-y: auto;

    height: 0;
    opacity: 0;

    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

#mobileMenuDropdown.open {
    display: block;
    height: 100%;
    opacity: 0.95;

    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

#mobileMenuDropdown a {
    color: #fff;
    text-decoration: none;
}


#mobileMenuDropdown .nav li {
    font-size: 25px;
    text-align: center;
    padding: 0 0 39px 0;
}




/* Responsive breakpoint - md */
@media (min-width: 768px) {


    .main-header .logo {
        width: 82px;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .main-header .logo.shrink {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        width: 72px;
    }

    .main-header .logo img.sm-logo {
        display: none;
    }


    /* Show the left / Right navigation col only on md and up */
    .main-header .navigation-cols {
        display: block;
    }


    /* Mobile page menu - never show it up on screens md and up */
    #mobileMenuDropdown {
        display: none !important;
    }

}


@media (min-width: 992px) {

}




/*-------------------------------------------------------------
PAGES : Home Page / Non-Members
--------------------------------------------------------------*/

/*
* Home Slider 
*/

#home_slider_1 .slide-title {
    font-size: 4em;
    color: #000;
}


#home_slider_1 .owl-dots {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -30px;
}




#home_slider_1 .mob-know-more-btn {
    position: absolute;
    top: 80%;
    right: 20%;
    left: 20%;
}

#home_slider_1 .mob-know-more-btn > .btn-default.btn {
    display: block;
    border: 2px solid #fff;
    background-color: #fff;
    color: #ff6829;
    text-transform: uppercase;
    font-weight: 600;
}

#home_slider_1 .mob-know-more-btn > .btn-default.btn:hover {

}

/* Burn Count */

.burn-count {
    display: inline-block;
    font-size: 0.9em;
    color: #ff6829;
    padding-left: 1.5em;

    background-image: url("../img/icons/burn-button.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1em;
}

@media (min-width: 768px) {
    #home_slider_1 .slide-title {
        font-size: 7em;
    }


    #home_slider_1 .owl-dots {
        display: block;
    }


    /* Hide mob know more btn on large screens */
    #home_slider_1 .mob-know-more-btn {
        display: none;
    }
}


/*
* Success Stories Slider Styles
*/


.success-story-container {
    margin-top: 1em;
}


.success-story-container .bx-wrapper {
    margin-bottom: 30px;
    background-color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0 transparent;
}

.success-story-container  .bx-wrapper .bx-pager-item {
    font-size: 14px;
    line-height: 1;
}

.success-story-container  .bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    text-indent: 0px;
    display: block;
    width: 25px;
    height: initial;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

    color: #fff;
    opacity: 0.6;
    font-weight: 400;
    text-decoration: none;
}


.success-story-container .bx-wrapper .bx-pager.bx-default-pager a.active, 
.success-story-container .bx-wrapper .bx-pager.bx-default-pager a:focus, 
.success-story-container .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: transparent;
    opacity: 1;
}

.success-story-slider {
    padding: 0;
    list-style-type: none;
}


/* Custom Pager for Success Slider */
.custom-bx-pager {
    font-size: 14px;
}

.custom-bx-pager a {
    color: #fff;
    text-decoration: none;
}

#bx-custom-pager a {
    display: inline-block;
    opacity: 0.5;
    width: 25px;

    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

#bx-custom-pager a.active,
#bx-custom-pager a:hover,
#bx-custom-pager a:focus {
    opacity: 1;
}


.direction-pager {
    font-size: 0;
}

.direction-pager a.bx-prev,
.direction-pager a.bx-next {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: url("../img/icons/up-button.svg") no-repeat center;
    background-size: 30px 30px;

    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

.direction-pager a.bx-prev:not(.disabled):hover,
.direction-pager a.bx-prev:not(.disabled):active,
.direction-pager a.bx-next:not(.disabled):hover,
.direction-pager a.bx-next:not(.disabled):active {
    background-size: 25px 25px;
}



.direction-pager a.bx-prev {
    -webkit-transform: rotate(-90deg);
} 
.direction-pager a.bx-next {
    -webkit-transform: rotate(90deg);
}


.direction-pager a.disabled {
    opacity: 0;
}

/* Slider Content Styling */
.success-story-slider li {
    font-size: 14px;
    padding: 10px 0px;
}

.success-story-slider li .top-heading {
    padding: 1em 0;
    padding-top: 0;
}

.success-story-slider li .top-heading .name {

}



.success-story-slider li .story .read-full-story {
    color: #fff;
    font-weight: 600;
}

.success-story-slider li .story .read-full-story:hover {
    text-decoration: none;
    color: #ffcbcb;
}



/*
* Success Story Side Image Slide 
*/

.success-img-slides {
    position: relative;
    width: 300px;
    height: 368px;

    width: 375px;
    height: 460px;

    margin-left: auto;
    margin-right: auto;
}

.success-story-img-slides {
    padding: 0 !important;
}

.slide-success-story {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;

    opacity: 1;
    z-index: 1;


    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
}

.slide-success-story.invisible {
    opacity: 0;
    z-index: 0;


    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.success-story-image-slider .bx-wrapper {
    margin-bottom: 0px;
    background-color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0 transparent;
}

.success-story-image-slider .bx-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.success-story-image-slider .bx-wrapper .bx-pager {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.success-story-image-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #fff;
    opacity: 0.5;

    transition: 0.1s all ease-in-out;
}

.success-story-image-slider .bx-wrapper .bx-pager.bx-default-pager a.active, 
.success-story-image-slider .bx-wrapper .bx-pager.bx-default-pager a:focus, 
.success-story-image-slider .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #fff;
    opacity: 1;
}





@media (min-width: 768px) {
    .success-img-slides {
        position: relative;
        width: 375px;
        height: 460px;
        margin-left: auto;
        margin-right: -15px;
    }
}





/*
* Landing Page Slider
*/


#gymHistorySlider {
    margin: 0;
    padding: 0;
}


.gym-history-container .slide-content {
    height: 600px;
    padding: 4em 20px;
    color: #fff;
}


.gym-history-container .slide-content h2,
.gym-history-container .slide-content p {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.gym-history-container .slide-content .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-size: cover;
    background-position: center;
}


.gym-history-container .bx-wrapper {
    margin-bottom: 0px;
    background-color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0 transparent;
}

.gym-history-container  .bx-wrapper .bx-pager-item {
    font-size: 14px;
    line-height: 1;
}

.gym-history-container  .bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    text-indent: 0px;
    display: block;
    width: 25px;
    height: initial;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

    color: #fff;
    opacity: 0.6;
    font-weight: 400;
    text-decoration: none;
}


.gym-history-container .bx-wrapper .bx-pager.bx-default-pager a.active, 
.gym-history-container .bx-wrapper .bx-pager.bx-default-pager a:focus, 
.gym-history-container .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: transparent;
    opacity: 1;
}


/* Custom Pager for Desktop */


.pager-landing-page {
    position: absolute;
    bottom: 2em;
    right: 0;
    left: 0;

    max-width: 768px;
    margin: 0 auto;

    display: block;
    justify-content: space-between;
    text-align: center;
}



.pager-landing-page > a {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em; 
    margin: 0.5em auto;
    background-color: #d51919;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    width: 72px;
    text-align: center;
    border-radius: 5px;

    box-shadow: 0 2px 2px rgba(0,0,0,0.3);

    background-color: #111;
}


.pager-landing-page > a.active, 
.pager-landing-page > a:hover {
    opacity: 1;
    background-color: #d51919;
}



@media (min-width: 768px) {
    .pager-landing-page {
        display: flex;
    }

    .pager-landing-page::before {
        width: 100%;
        height: 5px;
        background-color: #fff;
        content: "";
        position: absolute;
        top: 50%;
        box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    }   
}



/*
* Gym History BB Slider Styles
*/

#gym-history-bb {
    width: 100%;
    height: 460px;
}


.gym-history-bb-item {
    background-color: #000;
    background-image: url("../../images/oldgym.jpg");
    background-size: cover;
}


/* Gym BB Inner */
.gym-bb-inner {
    background-color: #000;
    background-image: url("../../images/oldgym.jpg");
    background-size: cover;

    height: 460px;
}

.gym-bb-inner .container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.bb-gym-text {
    padding-top: 2em;
    padding-bottom: 2em;

    color: #fff;
    left: 0;
    right: 0;
    z-index: 996;

    background-color: rgba(0,0,0,0.4);
}


.oldgym-img {
    height: 100%;
    width: auto;
}


.pabs {
    position: absolute;
    z-index: 996;
}

.gym-bb-pagination {
    position: absolute;
    bottom: 0;
    z-index: 996;
    right: 0;
    left: 0;

    text-align: center;

    max-width: 640px;
    margin: 1em auto;
}

.gym-bb-pagination .links {
    display: block;
    justify-content: space-around;
}

.bb-gym-history-link {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em auto;
    background-color: #d51919;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    width: 72px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    background-color: #111;

    opacity: 1;

    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.bb-gym-history-link:hover,
.bb-gym-history-link:active,
.bb-gym-history-link:focus {
    opacity: 1;
    background-color: #d51919;
    color: #fff;
    text-decoration: none;
}



@media (min-width: 768px) {
    #gym-history-bb {
        width: 100%;
        height: 630px;
        overflow: initial;
    }

    .gym-bb-inner {
        height: 630px;
    }

    .bb-gym-text {
        padding-top: 4em;
        padding-bottom: 4em;
        background-color: rgba(0,0,0,0);
    }


    .gym-bb-pagination .links {
        display: flex;
        justify-content: space-around;
    }

    .gym-bb-pagination::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: #fff;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -2px; 

        margin-left: 1em;
        margin-right: 1em;

        max-width: 600px;
    }
}




/*
* Landing Page Site Area Sections
*/

.area-sections > .row {
    display: flex;
    justify-content: center;
}

.area-sections .bg-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.area-sections .site-section-col {
    color: #fff;
    margin: 0 auto;
    max-width: 350px;
    justify-content: center;
}

.site-area-link {
    width: 180px;
}

.site-area-link#signIn {
    background-color: #d51919;
    color: #fff;
}

.site-area-link#signIn:hover {
    color: #d51919;
    background-color: #fff;
}



/*
* One Day Pass Section
*/

/* image col */
.ODPass-image-col {
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: flex-end;

}

.ODPass-image-col .floatODiPhone img {

}

.one-day-pass-section .ODPass-text-col {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

.one-day-pass-section .ODPass-text-col > h3,
.one-day-pass-section .ODPass-text-col > p  {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.one-day-pass-section .ODPass-text-col .know-more {
    margin-top: 2em;
    text-align: right;
    margin-left: auto;
}

.one-day-pass-section .ODPass-text-col .know-more a {
    width: 180px;
    display: block;
    margin: 0 auto;
}


/* App Download Links */


.app-download-container {
    display: flex;

    justify-content: baseline;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: auto;
    flex-flow: column;
    
    padding-top: 3em;

}

.app-download-container .app-download-link {
    border-radius: 5px;

    display: block;
    width: 125px;
    height: 37px;
    padding: 5px 20px;
    margin: 10px 10px;

    overflow: hidden;
    font-size: 0;
    color: #fff;

    /* Background graphics */
    background-image: url("../img/bgs/playss.png");
    background-size: contain;
    background-repeat: no-repeat;
}



#app_ios_link {
    background-image: url("../img/bgs/appstore.png");
}

@media (min-width: 768px) {

    .ODPass-image-col {
        position: relative;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: initial;
    }


    .one-day-pass-section .ODPass-text-col {
        text-align: right;
    }

    .one-day-pass-section .ODPass-text-col .know-more a {
        width: 150px;
        display: block;
        margin: 0;
        margin-left: auto;

    }


    .app-download-container {
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: row;
        flex-basis: auto;
        flex-flow: row;

        position: absolute;
        bottom: 20px;
        right: 0;
    }
}





/*
* Quick Gym Finder Widget
*/

.gym-finder-quick {
    background-color:#ff6829;
    padding: 4em 0;
    color: #fff;
}

.gym-finder-quick .inner {
    position: relative;
}

.gym-finder-quick .quick-finder-form {
    margin-top: 1em;
}

.gym-finder-quick .quick-finder-form input[type="text"] {
    color: #fff;
    border-bottom:2px solid  #fff;
}


.gym-finder-quick .quick-finder-form input[type="text"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.84);
}

.gym-finder-quick .quick-finder-form input[type="text"]::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.84);
}

.gym-finder-quick .quick-finder-form input[type="text"]:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.84);
}

.gym-finder-quick .quick-finder-form input[type="text"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.84);
}


.gym-finder-quick .quick-finder-popular {
    margin-top: 2em;
}
.gym-finder-quick .quick-finder-popular .btn-default.btn {
    font-size: 14px;
    background-color: #fff;
    color: #ff6829;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-right: 10px;
    border: 2px solid transparent;
}

.gym-finder-quick .quick-finder-popular .btn-default.btn:hover {
    border: 2px solid  #fff;
    color: #fff;
    background-color:  #ff6829;
}


/*
* Track Fitness Section
*/

.track-fitness-section {
    background-image: url("../../images/slides/section-track_480.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 480px;

    color: #fff;
}


.track-fitness-section > .container.inner {
    padding-top: 4em;
    padding-bottom: 4em;
}


.track-fitness-section .text-content {
    text-align: center;
    margin: 0 auto;
}

.track-fitness-section .text-content h3 {
    text-transform: uppercase;

}

.track-fitness-section .text-content h3, 
.track-fitness-section .text-content p {
    /* text-shadow: 0 2px 2px rgba(0,0,0,0.4); */
}


@media (min-width: 768px) {
    .track-fitness-section .text-content {
        text-align: right;
    }
}


/*-------------------------------------------------------------
PAGES : SINGLE PROGRAM PAGE
--------------------------------------------------------------*/

/*
* Main Hero Section
*/


.hero-section {
    display: flex;
}


.hero-section .text-col {
    text-transform: uppercase;
    padding-top: 2em;
    text-align: center;

    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section .action-btn {
    width: 100%;
}

.hero-section .action-btn a.btn {
    display: block;
    margin: 0 auto;
    padding: 0.75em 1em;
    width: 80%;
}

.talwalkars-history {
    color: #fff;
}

.talwalkars-history .about-talwalkars {
    margin-bottom: 0;
}



@media (min-width: 768px) {
    .hero-section .text-col {
        padding-top: 4em;
        text-align: right;

        height: initial;
        display: block;
    }


    .hero-section .action-btn a.btn {
        margin-top: 2em;
        padding: 0.5em 1em;
        width: 220px;
        margin-left: auto;
        margin-right: initial;
    }
}


/*
* Program Cards / component can be used on other pages as well
*/


.program-cards-container {
    display: block;
}

@media (min-width: 1010px) {
    .program-cards-container {
        display: flex;
        justify-content: space-between;
    }
}


.program-card {
    position: relative;
    max-width: 100%;
    width: 300px;
    height: 350px;
    margin: 20px auto;

    border: 0px solid transparent;
    background-color: #000;
    color: #fff;

    background-image: url("../../images/programs/p-cards-running-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.program-card .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 20px 20px;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.program-card .p-card-header {
    width: 100%;
}

.p-card-title-small {

}

.program-card .p-action-btns {
    width: 100%;
    text-align: center;
}

.program-card .p-action-btns  a.p-action-btn {
    display: block;
    border: 2px solid #fff;
    margin: 10px auto;
    padding: 0.5rem 0.75em;
    width: 80%;

    background-color: ;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    border-radius: 150px;

    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

.program-card .p-action-btns  a.p-action-btn:hover,
.program-card .p-action-btns  a.p-action-btn:focus,
.program-card .p-action-btns  a.p-action-btn.buy-membership {
    background-color: #fff;
    color: #111;
}


.program-card .p-action-btns > a.buy-membership {
    background-color: #fff;
    color: #111;
}


/* Slider Styles */

.programs-section .bx-wrapper {
    border: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}



.programs-section   .bx-wrapper .bx-pager-item {
    font-size: 14px;
    line-height: 1;
}

.programs-section   .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -99999px;
    display: block;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    color: #fff;
    opacity: 0.4;
    font-weight: 400;
    text-decoration: none;
}


.programs-section  .bx-wrapper .bx-pager.bx-default-pager a.active, 
.programs-section  .bx-wrapper .bx-pager.bx-default-pager a:focus, 
.programs-section  .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #fff;
    opacity: 1;
}





/*
* Benefit Section and Benefits list
*/



.program-benefits-section {
    padding: 2em 0;
    color: #fff;
}



/* Benefits List */
.benefits-list .benefit-item {
    margin-bottom: 2em;
}

.benefit-item .media {
    display: block;
}

.benefit-item .media .media-body {
    margin-top: 1rem;
    text-align: center;
}

.benefit-item .media .media-body h4 {
    text-transform: uppercase;
}

.benefit-item .benefit-item-img {
    margin-right: auto;
    margin-left: auto;

    display: block;
}


@media (min-width: 768px) {
    .program-benefits-section {
        padding: 4em 0;
        padding-bottom: 0;
        color: #fff;
    }

    .benefit-item .media {
        display: flex;
    }

    .benefit-item .media .media-body {
        margin-top: 0rem;
        text-align: left;
    }

    .benefit-item .benefit-item-img {
        margin-right: 2rem;
        margin-left: auto;

        display: block;
    }
}



/* Slider Styles */
.program-benefits-section .bx-wrapper {
    border: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}



.program-benefits-section .bx-wrapper .bx-pager-item {
    font-size: 14px;
    line-height: 1;
}


.program-benefits-section  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -99999px;
    display: block;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    color: #fff;
    opacity: 0.4;
    font-weight: 400;
    text-decoration: none;
}


.program-benefits-section  .bx-wrapper .bx-pager.bx-default-pager a.active, 
.program-benefits-section  .bx-wrapper .bx-pager.bx-default-pager a:focus, 
.program-benefits-section  .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #fff;
    opacity: 1;
}



/*-------------------------------------------------------------
PAGES : GYM BY TALWALKARS PAGE
--------------------------------------------------------------*/

/*
* Main Carousel on GYM Page 
*/


.gym-main-slider {

}

.gym-main-slider .gym-slide-item {
    color: #fff;
    padding: 4em 0;
}

.gym-main-slider .owl-dots {
    display: none;
}

@media (min-width: 768px) {

    .gym-main-slider .owl-dots {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -30px;
        z-index: 1;
    }

}


/* Slide Stripe at Bottom, can be used on other large hero image slides as well */

.slide-info-stripe {
    background-color: #000;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

.slide-info {
    position: relative;
    color: #ff6829;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

.slide-info p {
    margin: 0;
}

.slide-info .slide-info-block {
    margin-right: 10px;
}



/*
* Programs Offered Slider
*/

.pr-offered-slider-container {

}


.pr-offered-slider-container {
    margin-top: 1em;
}


.pr-offered-slider-container .bx-wrapper {
    margin-bottom: 30px;
    background-color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0 transparent;
}

.pr-offered-slider-container  .bx-wrapper .bx-pager-item {
    font-size: 14px;
    line-height: 1;
}

.pr-offered-slider-container  .bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    text-indent: 0px;
    display: block;
    width: 25px;
    height: initial;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

    color: #fff;
    opacity: 0.6;
    font-weight: 400;
    text-decoration: none;
}


.pr-offered-slider-container .bx-wrapper .bx-pager.bx-default-pager a.active, 
.pr-offered-slider-container .bx-wrapper .bx-pager.bx-default-pager a:focus, 
.pr-offered-slider-container .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: transparent;
    opacity: 1;
}


/* Custom Pager for Programs Offered slider */
.custom-bx-pager {
    font-size: 14px;
}

.custom-bx-pager a {
    color: #fff;
    text-decoration: none;
}

#pr_offered_bxPager a {
    display: inline-block;
    opacity: 0.5;
    width: 25px;

    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

#pr_offered_bxPager a.active,
#pr_offered_bxPager a:hover,
#pr_offered_bxPager a:focus {
    opacity: 1;
}




/* Programs Offered Cards */

.pr-offered-cards {
    position: relative;
    background-color: #111;
    padding: 20px;
    margin: 2em 20px;

    height: 300px;

    overflow: hidden;
}

.pr-offered-cards .text-col {
    z-index: 1;
    position: relative;
}

.pr-offered-cards .float-program-img {
    z-index: 0;
    position: absolute;
    right: -50px;
    top: -10px;
    bottom: 0;
    max-height: 100%;
}

.pr-offered-cards .float-program-img .img-container {
    height: 300px;
}

.pr-offered-cards .float-program-img img {
    max-width: 100%;
    width: auto;
    height: 100%;
}


.pr-offered-cards .buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;

    z-index: 1;
}

.pr-offered-cards .buttons a.btn {
    display: block;
    margin: 0 0;
    margin-top: 1em;
    text-transform: uppercase;
    border-width: 2px;
    font-size: 14px;
}

.pr-offered-cards .buttons a.btn.btn-inverted {
    background-color: transparent;
    color: #ff6829;
    border-color: #ff6829;
    background-color: #111;
}


@media (min-width: 768px) {
    .pr-offered-cards {
        padding: 20px;
        margin: 2em 4em;
        height: 300px;
        overflow: initial;
    }

    .pr-offered-cards .buttons {
        max-width: 180px;
    }
}



/*
* Services Offered Section - GYM Page
*/



.gym-services-list {
    max-width: 480px;
    text-align: center;
}

.gym-service-item {
    display: inline-block;
    width: 110px;
    height: 130px;

    vertical-align: top;
    text-align: center;

}

.gym-service-item .service-item-icon {
    background-color: #000;
    text-align: center;

    width: 72px;
    height: 72px;
    line-height: 72px;
    border-radius: 50%;

    margin: 0 auto;
}

.gym-service-item .service-item-icon > img {
    width: 36px;
    height: 36px;
}

.gym-service-item .service-item-title {
    margin-top: 4px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .gym-services-list {
        text-align: left;
    }
}


/*
* Membership Plans Section on Gym Page
*/



#membershipPlansList  {
    list-style-type: none;
    padding: 2em 0;

    max-width: 440px;
}

#membershipPlansList li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
}

#membershipPlansList li > p {
    margin-bottom: 0;
}
#membershipPlansList li .membership-btn {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 12px;
    padding: 0.5em 1em;
    text-decoration: none;
    opacity: 0.8;

    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
    margin-left: 20px;
    min-width: 140px;
    text-align: center;
}


#membershipPlansList li .membership-btn:hover {
    opacity: 1;
}


/*
* Photo Gallery Section 
*/

.photo-gallery-section {}
.photo-gallery-section .photo-gallery-col {
    display: flex;
    align-items: center;
}

.photo-gallery-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}

.photo-gallery-slider .owl-dots > div {
    display: inline-block;
}


.photo-gallery-slider .owl-nav {
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 20px;

    text-align: center;
}

.photo-gallery-slider .owl-nav .owl-prev, 
.photo-gallery-slider .owl-nav .owl-next {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 0%;
    margin: 0 10px;
    font-size: 0px;
    border-radius: 50%;
    background: url(../img/icons/up-button.svg) no-repeat center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}


.photo-gallery-slider .owl-nav .disabled {
    opacity: 0.2;
}


.photo-gallery-slider .owl-nav .owl-prev {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.photo-gallery-slider .owl-nav .owl-next {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* Image Mix-Blend-Mode Overlay Divs */
.photo-gallery-item .ov {
    display: none;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.mix-blend-mode .photo-gallery-item .ov {
    display: block;
}

.photo-gallery-item .ov.red { background-color: #d51919; }
.photo-gallery-item .ov.orange { background-color: #ff6829; }





/*-------------------------------------------------------------
PAGES : ALL PROGRAMS PAGE
--------------------------------------------------------------*/

.program-list-item {
    position: relative;
    max-width: 480px;
    height: 280px;
    margin: 2.5em 1em;
    padding: 1em 2em;
    background-color: #d51919;
    color: #fff;
    overflow: hidden;
}


.program-item-img {
    position: absolute;
    top: -3em;
    left: -3em;
}

.program-item-img.right-aligned {
    top: initial;
    left: initial;
    right: -3em;
    top: -3em;
}

.program-item-img .img-container {

}

.program-item-img .img-container img {
    max-width: 180px;
}


.program-item-btns {
    position: absolute;
    bottom: 1em;
    left: 2em;


    max-width: 320px;
    width: 180px;

    z-index: 1;
}

.program-item-btns.right-aligned {
    left: initial;
    right: 2em;
}

.program-item-btns .btn.btn-default {
    display: block;
    width: 100%;
    margin: 0.5em 0;
    font-size: 14px;

    background-color: #d51919;
    border-color: #fff;
    border-width: 2px;
    text-transform: uppercase;
}

.program-item-btns .btn.btn-default:hover {
    color: #fff;
}


.program-item-btns div:last-child .btn.btn-default {
    background-color: #fff;
    color: #d51919;
}




@media (min-width: 768px) {

    .program-list-item {
        overflow: initial;
    }

    .program-item-img .img-container img {
        max-width: 240px;
    } 

    .program-item-btns {
        z-index: initial;
    }
}





/*-------------------------------------------------------------
PAGES : CONTACT PAGE
--------------------------------------------------------------*/
.rq {
    color: red;
    font-size: 13px;
}


/* Section Columns */

.contact-info-col {
    color: #fff;
    background-image: url("../../images/contact-page/Home_4_lg.jpg");
    background-position: center;
    background-size: cover;
}

.contact-info-col .inner {
    padding-top: 3em;
}

.contact-form-col {
    background-color: #fff;
}

.contact-form-col .contact-form {
    padding-top: 2em;
}


/* Contact Form */
.contact-form .form-row {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 0px 0;
}

.contact-form .form-row .input-field {
    width: 100%;
}

.contact-form .form-row .input-field input,
.contact-form .form-row .input-field select,
.contact-form .form-row .input-field textarea {
    font-size: 14px;
    min-width: 100%;
    width: 100%;

}

.contact-form .form-row textarea {
    display: block;
    background-color: transparent;

    width: 100%;
    max-width: 360px;
    
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 16px;
    padding: 0.25em 0em;

    transition: 0.1s all ease-in-out;

    height: 38px;
    resize: none;
}

.contact-form .form-row .input-field textarea:focus, 
.contact-form .form-row .input-field select:focus {
    border-bottom-color:  #7b7b7b;
}

.contact-form .form-row .input-field select {
    background-position: right 0.6em center;
    background-size: 0.8em 0.8em;
    background-repeat: no-repeat;
}


.contact-form .form-row .input-field label {
    position: absolute;
    top: 5px;
    font-size: 12px;
    color: #444;

    -webkit-transition: 0.1s all ease-in-out;
}


.contact-form .form-row .input-field input:focus + label,
.contact-form .form-row .input-field textarea:focus + label,
.contact-form .form-row .input-field select:focus + label,
.contact-form .form-row.input--filled .input-field  label {
    font-size: 12px;
    top: -16px;
}



.contact-form .form-row .btn.btn-default {
    border: 2px solid transparent;
    width: 100%;
    margin: 1em auto;
    margin-right: 10px;

    text-transform: uppercase;
}

.contact-form .form-row .btn.btn-default:hover,
.contact-form .form-row .btn.btn-default:focus {
    border: 2px solid #ff6829;
}

#resetContactForm {
  border: 2px solid #ff6829;
  background-color: #fff;  
  color: #ff6829;
  margin-left: 0;
}




@media (min-width: 768px) {
    .contact-form-col .contact-form {
        padding-top: 3em;
    }

    .contact-form .form-row .btn.btn-default {
        margin: 1em 10px;
        width: 150px;
    }
}



/*-------------------------------------------------------------
PAGES : GYM FINDER PAGE
--------------------------------------------------------------*/


.gym-finder-section {
    padding: 4em 0;
    background-color: #fff;
}



/* Gym Finder Controls */
.gym-finder-controls {
    margin-bottom: 2em;
}

.gym-finder-controls .form-block {
    padding: 20px 0;
}

.gym-finder-controls .form-block input, 
.gym-finder-controls .form-block select {
    width: 100%;
    max-width: 100%;
    text-transform: none;
    color: #111;
    border-bottom-color: #111;
}

.gym-finder-controls .form-block select {
    font-weight: 400;
    border-bottom-color: #111;
}


.gym-finder-controls .form-block input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #111;
}
.gym-finder-controls .form-block input::-moz-placeholder { /* Firefox 19+ */
  color: #111;
}
.gym-finder-controls .form-block input:-ms-input-placeholder { /* IE 10+ */
  color: #111;
}
.gym-finder-controls .form-block input:-moz-placeholder { /* Firefox 18- */
  color: #111;
}


/* Large location input */
#location_name {
    font-size: 27px;
    text-transform: initial;
    border-bottom-width: 2px ;
    color: #333;
}


/* Gym Cards */


.gyms-found {
    height: 440px;
    max-width: 100%;
    overflow: auto;
}


.gyms-found::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.0);
    border-radius: 10px;
    background-color: transparent;
}

.gyms-found::-webkit-scrollbar
{
    width: 7px;
    background-color: transparent;
}

.gyms-found::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.0);
    background-color: #6669;
}


.gym-card {
    position: relative;
    width: 90%;
    margin: 1em auto;
    float: none;
    height: 200px;
    background-color: #101010;
    color: #fff;
    margin-bottom: 1em;

    background-image: url("../../images/gym-card-default.jpg");
    background-size: cover;
}

.gym-card  .gym-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em 20px;
    font-size: 14px;

    background: #000;
}

.gym-card  .gym-details p {
    margin-bottom: 0;
}


@media (min-width: 768px) {
    .gym-card {
        width: 47%;
        margin: 1em 1.5%;
        float: left;
    }
}



/*-------------------------------------------------------------
PAGES : SIGN-IN PAGE
--------------------------------------------------------------*/
#signInSection {
    position: relative;
    background-color: #d51919;
    color: #fff;
    background-image: url("../../images/weightlift-red-ov.jpg");
}

#signInSection .container {
    padding: 4em 20px;
    padding-bottom: 1em;
}

#signInSection a {
    color:  rgba(255,255,255,0.8);
}

#signInSection a:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
}


/* Inner Sign-in Box */

.sign-in-box {
    text-align: center;
}

.sign-in-box > h1 {
    text-transform: uppercase;
}


.sign-in-box form {
    max-width: 360px;
    margin: 2em auto;
}


.sign-in-box form .form-row {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0;

}

.sign-in-box form .form-row .input-field {
    position: relative;
    width: 100%;
}

.sign-in-box form .form-row input[type="email"],
.sign-in-box form .form-row input[type="password"],
.sign-in-box form .form-row input[type="text"] {
    position: relative;
    width: 100% ;
    font-size: 18px;

    border-bottom-width: 2px;
    border-bottom-color: rgba(255,255,255,0.6);
}

.sign-in-box form .form-row input[type="email"]:focus,
.sign-in-box form .form-row input[type="password"]:focus,
.sign-in-box form .form-row input[type="text"]:focus {
    border-bottom-color: #fff;
}


/* placeholder on sign-in input */
.sign-in-box form .form-row input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.8);
  letter-spacing: 0;
}
.sign-in-box form .form-row input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.8);
  letter-spacing: 0;
}
.sign-in-box form .form-row input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.8);
  letter-spacing: 0;
}
.sign-in-box form .form-row input:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.8);
  letter-spacing: 0;
}


/* submit button */
.sign-in-box form .form-row.submit-btn input[type="submit"] {
    min-width: 180px;
    max-width: 220px;
    width: 85%;
    margin: 0 auto;
    background-color: #d51919;
    text-transform: uppercase;
}

.sign-in-box form .form-row.submit-btn input[type="submit"]:hover {
    color: #fff;
    background-color: #aa1414;
}


.view-password-box {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;


    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.view-password-box > a {
    display: block;
}


/*-------------------------------------------------------------
COMPONENTS: WATERWHEEL CAROUSEL FOR GYM OFFERS
--------------------------------------------------------------*/
.gym-offers-section {
    padding-top: 2em;
    padding-bottom: 2em;
}


.gym-offers-section .col-text {
    text-align: center;
}

.gym-offers-waterwheel {
    height: 270px;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    clear: both;
}

.gym-offers-waterwheel img {
    max-width: 100%;
    height: auto;
}



.gym-offer-carousel-pager {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

    margin-bottom: 2em;
    margin-top: 2em;
}


.page-dots span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 0.5em;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 50%;
    transition: 0.1s all ease-in-out;
    cursor: pointer;
}

.page-dots span.active {
    transform: scale(1.4);
}
.page-dots span.active,
.page-dots span:hover {
    opacity: 1;
}


.page-dots span#gymOfferPrev, 
.page-dots span#gymOfferNext {
    color: transparent;
    height: 0;
    display: inline-block;
}

.page-dots span#gymOfferPrev::after, 
.page-dots span#gymOfferNext::after {
    content: "\f105";
    font-family: FontAwesome;
    color: #fff;
}

.page-dots span#gymOfferPrev::after {
    content: "\f104";
}


@media (min-width: 768px) {
    .gym-offers-section {
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .gym-offers-section .col-text {
        text-align: right;
    }

    .gym-offers-waterwheel {
        height: 300px;
        max-width: 380px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        clear: both;
    }   


    
}

/*-------------------------------------------------------------
MAIN FOOTER
--------------------------------------------------------------*/


.main-footer {
    position: relative;
    background: #0a0a0a;
}

.main-footer a {
    color: #fff;
}


.footer-section-title {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 1em 0;
    margin-bottom: 0.5em;

    color: #d91515;
}



/* Footer Links Panel */
.footer-links-panel {
    padding: 2em 0;
}

.footer-links-panel .links-col {

}

.footer-links-panel .links-col > h4 {
    font-weight: 400;
    font-size: 19px;
    text-transform: uppercase;
    margin: 1em 0;
    margin-bottom: 0.5em;
    padding: 0 20px;

}
.footer-links-panel .links-col > h4 a {
    color: #d51919;
    text-decoration: none;
    display: block;
}

.footer-links-panel .links-col > h4 a::after {
    content: "\f105";
    font-family: FontAwesome;
    float: right;
    font-size: 26px;
    margin-top: -7px;
    vertical-align: middle;
}

.footer-links-panel .links-col .nav {
    padding: 0 20px;

    max-height: 0;
    overflow: hidden;

    -webkit-transition: 0.25s all ease-in;
    -moz-transition:  0.25s all ease-in;
    transition:  0.25s all ease-in;
}


.footer-links-panel .links-col.open .nav {
    max-height: 990px;
    overflow: hidden;

    -webkit-transition: 1s all ease-in;
    -moz-transition:  1s all ease-in;
    transition:  1s all ease-in;
}


.footer-links-panel .links-col .nav li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.footer-links-panel .links-col .nav li a {
    display: block;
    font-size: 14px;
    text-transform: normal;
    text-decoration: none;
    padding: 5px 0;
    /* opacity: 0.8; */
    vertical-align: middle;
}

.footer-links-panel .links-col .nav li a:hover {
    opacity: 1;
}




/* Social Media Links */
.sc-links-container {
    text-align: center;
}
.sc-block {
    width: 23.5%;
    display: inline-block;
    margin: 1em 0;
    text-align: center;
}
.social-media-link {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #d51919;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
}

.social-media-link:hover,
.social-media-link:active {
    background-color:#b21717;
}


.offline-msg-container {
    margin: 1em 0;
}

.offline-msg {
    padding: 0.5em 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    border-radius: 2em;
    background-color: #d51919;
    max-width: 92%;
    margin: 0 auto;
}

.offline-msg:hover {
    background-color:#b21717;
}


/* Footer Logo */
.footer-logo {
    display: none;
}




@media (min-width: 768px) {


    
    /* Footer Links Panel */
    .footer-links-panel .links-col > h4 {
        font-size: 15px;
        padding: 0;
    }

    .footer-links-panel .links-col > h4 a::after {
        display: none;
    }

    .footer-links-panel .links-col .nav {
        display: block;
        max-height: 9999px;
        padding: 0;
    }

    .footer-links-panel .links-col .nav li a {
        font-size: 13px;
    }


    /* Social Media Links */
    .sc-links-container {
        text-align: left;
    }
    .sc-block .social-media-link {
        display: block;
        width: 32px;
        height: 32px;
        line-height: 32px;
    }
    .sc-block {
        width: 50px;
        display: inline-block;
    }

    .offline-msg {
        display: none;
    }
}


/* Footer Bottom Stripe / Copyright and other links */


.bottom-stripe {
    background-color: #000;
    color: #fff;
    font-size: 0.9rem;
    padding: 0 0;
}


.bottom-stripe .links-block, 
.bottom-stripe .copyright-block {
    display: block;
    text-align: center;
}


.bottom-stripe .links-block {
    padding: 1em 0;
}
.bottom-stripe .links-block > a.btn {
    margin-bottom: 0.25em;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    border-right: 2px solid #888;

    padding: 0.25rem 0.75rem;
}

.bottom-stripe .links-block > a.btn:hover,
.bottom-stripe .links-block > a.btn:focus,
.bottom-stripe .links-block > a.btn:active{
    color: #ff6829;
    outline: none;
    box-shadow: none;
}

.bottom-stripe .links-block > a.btn:last-child {
    border-right-width: 0;
}


.bottom-stripe .copyright-block {
    padding: 1em 0.75rem;
    text-transform: uppercase;
    font-size: 0.8em;
}

.bottom-stripe .copyright-block > p {
    margin-bottom: 0.25em;
    padding: 0.25em 0.5rem;
}


@media (min-width: 768px) {
    .bottom-stripe {
        background-color: #111;
    }

    .bottom-stripe .links-block, 
    .bottom-stripe .copyright-block {
        display: inline-block;
        text-align: center;
    }

    .bottom-stripe .links-block > a.btn:last-child {
        border-right-width: 2px;
    }

    .bottom-stripe .copyright-text {
        font-size: 0.9rem;
    }

}



/*-------------------------------------------------------------
Universal Responsive Breakpoints
--------------------------------------------------------------*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}








